In [1]:
import pandas as pd

In [2]:
#Read in data from csv file
city_data = "cities.csv"
cities_df = pd.read_csv(city_data)

In [3]:
cities_df.head()

,City,Country,Latitude,Longitude,Date,Max Temperature,Humidity,Wind Speed,Cloudiness
0,Saint-Philippe,RE,-21.36,55.77,1563831304,64.40,82,5.82,24
1,Khatanga,RU,71.98,102.47,1563831297,64.61,73,10.27,100
2,Rikitea,PF,-23.12,-134.97,1563831301,68.93,75,20.40,0
3,Hithadhoo,MV,-0.60,73.08,1563831317,83.15,76,10.83,74
4,Hobart,AU,-42.88,147.33,1563831323,48.99,70,10.29,89

In [35]:
#create html code 
cities_df.to_html('cities_table.html')